<tr>
  <td>
    <%= link_to short_question(gist.question), admin_question_path(gist.question) %>
  </td>
  <td>
    <%= link_to gist_id(gist.url), gist.url %>
  </td>
  <td>
    <%= gist.user.email %>
  </td>
  <td>
    <%= link_to t('links.show'), admin_gist_path(gist) %>
  </td>
</tr>
