<p>
  <%= current_year; link_to 'Проект Михаил', github_url('https://github.com/MikhailProekt/','TestGuru'), target: "_blank" %> - программист Ruby on Rails
</p>

<p>
  Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com', target: "_blank" %>
</p>
